/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Blocks
 * Type: Object
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "../settings/spacings" as spacing;
@use "../tools/global";

/*******************************************************************************
 * Variables
*******************************************************************************/

$blocks-gutter-start: spacing.$large !default;
$blocks-gutter-end: spacing.$huge !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.o-blocks {
  position: relative;
  width: 100%;

  > .o-blocks__item {
    position: relative;
    @include global.fluid-size($blocks-gutter-start, $blocks-gutter-end, padding);
    padding-right: 0;
    padding-left: 0;

    // &:first-child {
    //   margin-top: 0;
    // }

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }
}
