/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Wrapper
 * Type: Object
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "node_modules/sass-rem/rem";
@use "../settings/spacings" as spacing;

/*******************************************************************************
 * Variables
*******************************************************************************/

$wrapper-gutter: spacing.$regular !default;
$wrapper-size: 1200px !default;
$wrapper-has-wide: true !default;
$wrapper-has-stretch: false !default;

$wrappers-sizes: (
  "large": 1200px,
) !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.o-wrapper {
  max-width: var(--size);
  margin: 0 auto;
  padding: 0 rem.convert($wrapper-gutter);
}

/*******************************************************************************
 * Modifiers
*******************************************************************************/

// Sizes
@each $namespace, $size in $wrappers-sizes {
  .o-wrapper--#{ $namespace } {
    --size: #{ rem.convert($size) };
  }
}

@if $wrapper-has-wide {
    .o-wrapper--wide {
    --gutter: 0;
    }
}

@if $wrapper-has-stretch {
  .o-wrapper--stretch {
    > * {
      height: 100%;
    }
  }
}