/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Fonts
 * Type: Setting
**/

/*******************************************************************************
 * @font-face helpers
*******************************************************************************/

$folder: "../../fonts/" !default;

/*******************************************************************************
 * Families
*******************************************************************************/

$sans-serif: "Montserrat", sans-serif;
$default: $sans-serif;
$brand: $sans-serif !default;

/*******************************************************************************
 * Types
*******************************************************************************/

// $size-tiny: 12px;
// $size-small: 14px;
$size-regular: 16px;
// $size-medium: 20px;
// $size-large: 24px;

/*******************************************************************************
 * Weights
*******************************************************************************/

// $thin: 100;
// $extralight: 200;
// $light: 300;
$regular: 400;
// $medium: 500;
// $semibold: 600;
$bold: 700;
// $extrabold: 800;
// $black: 900;
