/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Fonts
 * Type: Settings
**/

/*******************************************************************************
 * Settings
*******************************************************************************/

// Folder path
$font-folder: "../fonts/front/";

// Font families
$font-sans-serif: "Montserrat", sans-serif;
$font-serif: "Playfair Display", serif;
$font-default: $font-sans-serif;

// Font weights
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$default: 500;
