/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Spacings
 * Type: Settings
**/

/*******************************************************************************
 * Variables
*******************************************************************************/

$regular: 16px;
$large: 56px;
$huge: 72px;
