/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Avatar
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "node_modules/sass-rem/rem";
@use "../settings/fonts" as font;

/*******************************************************************************
 * Variables
*******************************************************************************/

$test-font-size: font.$size-regular;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-tester {
  font-size: rem.convert($test-font-size);
  padding: 15px;
  background: #a7c0aa;
}
