/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Tester
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "node_modules/sass-rem/rem";
@use "../settings/fonts" as font;
@use "../tools/fonts" as fonts;

/*******************************************************************************
 * Variables
*******************************************************************************/

$test-font-size: font.$regular;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-tester {
  font-size: rem.convert($test-font-size);
  @include fonts.fluid-size(12px, 56px, padding-top);
  background: #0eca24;
}
